@using Blog.WebService.ViewModels.Article;
@using Blog.BLL.Interfaces;

@model List<ArticleViewModel>;

@inject IAccountService AccountService;

@{
    ViewData["Title"] = "ArticleList";
    var user = await AccountService.GetAuthAccountAsync(User);
    var userRoles = user.Roles.Select(r => r.Name);
    var userArticles = user.Profile.Articles.Select(a => a.Id);
}

<div class="container form-container px-0">
    <div class="col">
        <h2>Все статьи</h2>
        <hr />

        @foreach (var article in Model)
        {
            <div class="card my-3">
                <div class="card-body">
                    <a class="card-title nav-link">@article.Title</a>
                    <div class="d-flex flex-col gap-1 mb-2">
                        @foreach (var tag in article.Tags)
                        {
                            <span class="badge bg-success">@tag.Name</span>
                        }
                    </div>
                    @if(userArticles.Contains(article.Id) || userRoles.Contains("Admin") || userRoles.Contains("Moderator"))
                    {
                        <div class="btn-group" role="group" aria-label="Article option buttons">
                            <a type="button" class="btn btn-outline-secondary" asp-area="" asp-controller="Article" asp-action="EditArticle" asp-route-id="@article.Id">Редактировать</a>
                            <form asp-area="" asp-controller="Article" asp-action="DeleteArticle" asp-route-id="@article.Id">
                                <button type="submit" class="btn btn-outline-danger">Удалить</button>
                            </form>
                        </div>
                    }
                </div>
            </div>
        }
    </div>

</div>