@using Blog.WebService.ViewModels.Tag

@model List<TagViewModel>;

@{
    ViewData["Title"] = "UserList";
}

<div class="container form-container px-0">
    <div class="row">
        <h2>Все теги</h2>
        <a class="mb-2" asp-area="" asp-controller="Tag" asp-action="Add">Добавить тег</a>
        <hr />

        @foreach (var tag in Model)
        {
            <div class="col-md-6">
                <div class="card my-3">
                    <div class="card-body">
                        <a class="card-title nav-link" asp-area="" asp-controller="Article" asp-action="Tag" asp-route-tagName="@tag.Name">@tag.Name</a>
                        <p class="card-text text-secondary mb-0">Статей по тегу @tag.Articles.Count()</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>