<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- the targets to write to -->
	<targets>
		<target xsi:type="File" name="Pll-logs"
				fileName="${currentdir:cached=true}/logs/info/PLL-${shortdate}.log"
				layout="${longdate} | ${callsite} | ${uppercase:${level}} | ${message} ${newline}"
				encoding="utf-8"/>
		<target xsi:type="File" name="Pll-error"
				fileName="{currentdir:cached=true}/logs/errors/PLL-${shortdate}.log"
				layout="${longdate} | ${callsite} | ${uppercase:${level}} | ${message} ${newline}"
				encoding="utf-8"/>
		<target name="logconsole" xsi:type="Console" />

		<target xsi:type="File" name="Bll-logs"
				fileName="${currentdir:cached=true}/logs/info/BLL-${shortdate}.log"
				layout="${longdate} | ${callsite} | ${uppercase:${level}} | ${message} ${newline}"
				encoding="utf-8"/>
		<target xsi:type="File" name="Bll-error"
				fileName="{currentdir:cached=true}/logs/errors/BLL-${shortdate}.log"
				layout="${longdate} | ${callsite} | ${uppercase:${level}} | ${message} ${newline}"
				encoding="utf-8"/>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="Blog.WebService*" minlevel="Info" writeTo="Pll-logs" />
		<logger name="Blog.WebService*" minlevel="Error" writeTo="Pll-error" />
		<logger name="Blog.WebService*" minlevel="Info" writeTo="logconsole" />

		<logger name="Blog.BLL*" minlevel="Info" writeTo="Bll-logs" />
		<logger name="Blog.BLL*" minlevel="Error" writeTo="Bll-error" />
	</rules>
</nlog>